<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Dev Page</title>
</head>
<body>
    <div class="main">
        <h2>Student Data of App Development</h2>
        <ol>
            <% for(d of data) {%>
                <li><%= d.name %></li>
                <% } %>
        </ol>
    </div>
</body>
</html>