<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domains</title>
</head>
<body>
    <form action="/domain/webdev">
        <button type="submit">Web Development</button>
    </form>
    <form action="/domain/appdev">
        <button type="submit">App Development</button>
    </form>
</body>
</html>