<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Dev Page</title>
</head>
<body>
    <div class="main">
        <h2>Student Data of Web Development</h2>
        <ol>
            <% for(d of data) {%>
                <span>
                    <li><%= d.name %></li>
                    <form action="/domain/webdev/<%= d._id %>/attendance">
                    <button type="submit">Present</button>
                    </form>
                </span>
                <% } %>
        </ol>
        <form action="/domain/webdev/interview">
            <button type="submit">Take An Interview</button>
        </form>
    </div>
</body>
</html>